body {
  font-family: monospace;
  color: white;
  background-color: #222;
}

a, a:visited {
  color: white;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.editor {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  justify-content: space-between;
}

.editor__block textarea {
  padding: 5px;
}

.editor__label {
  margin-bottom: 5px;
}

.viewer {
  margin-top: 20px;
  margin-left: 10px;
}

.square {
  width: 250px;
  height: 250px;
}

.small {
  width: 125px;
  height: 125px;
}

.purple {
  background-color: #6a4c93;
}

.blue {
  background-color: #1982c4;
  margin-left: 50px;
  margin-top: -50px;
}

.green {
  background-color: #8ac926;
  margin-left: 25px;
}

.yellow {
  background-color: #ffca3a;
  margin-left: 50px;
  margin-top: -25px;
}

.red {
  background-color: #ff595e;
  margin-left: 100px;
  margin-top: -50px;
}
